<nav class="navbar navbar-expand-sm">
    <div class="navbar-brand">
        <img src="/assets/images/logo.png">
    </div>
    <ul class="navbar-nav mnav">
        <li class="nav-item">
            <a class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Client</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Contact Us</a>
        </li>
    </ul>
    <div class="right-section ml-auto">
    <a class="mbtn">Login</a>
    <a class="trans-btn">Register</a>
    <img src="/assets/images/search-icon.png">
</div>
</nav>