<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="head">
                            <h6>Our Head Office</h6>
                            <div class="ru"></div>
                            <h6 style="margin-top: 30px;"><i class="fa fa-map-marker" style="margin-right: 15px;"></i>123 Street,Newyork,USA</h6>
                            <h6 style="margin-top: 30px;"><i class="fa fa-phone" style="margin-right: 15px;"></i>+012 345 67890</h6>
                            <h6 style="margin-top: 30px;"><i class="fa fa-envelope" style="margin-right: 15px;"></i>info@example.com</h6>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="head">
                            <h6>Quick Links

                            </h6>
                            <div class="ru"></div>
                            <a class="an" style="margin-top: 30px;">Terms of Use</a>
                            <a class="an" style="margin-top: 30px;">Privacy Policy</a>
                            <a class="an" style="margin-top: 30px;">Cookies</a>
                            <a class="an" style="margin-top: 30px;">Help</a>
                            <a class="an" style="margin-top: 30px;">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="head">
                    <h6>Newsletter</h6>
                    <div class="ru"></div>
                    <p style="margin-top: 30px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur expedita exercitationem ipsam Consectetur expedita exercitationem ipsam Consectetur expedita exercitationem ipsam sed, qui vel.</p>
              <div class="dos">
                    <input type="text" placeholder="Email goes here">
               <button class="btn">submit</button>
            </div>
                </div>
            </div>
        </div>
        <hr style="border-bottom: 1px solid white;">
        <div class="row">
            <div class="col-xl-6">
                <p class="tg">© <a class="adk" href="#">Your Site Name</a>, All Right Reserved.</p>
            </div>
            <div class="col-xl-6">
                <p class="tg" style="float: right;">Designed By <a class="adk" href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>