<div class="tellus">
    <div class="qwe">
        <div class="say-box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum libero dolores laudantium neque laboriosam corporis harum, fugiat ad est fuga temporibus facere ut quo quos nobis quaerat, voluptas rem voluptatibus!</p>
        </div>
        <div class="triangle"></div>
        <div class="client">
            <div>
            <img src="/assets/images/profile.png">
        </div>
        <div>
        <h6>A. Doe</h6>
        <p>CEO / Odio Transkit vula</p>
    </div>
        </div>
        <button class="vmore">view more</button>
    </div>
</div>