.tellus{
    background-image:url("/assets/images/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.qwe{
    width: 45%;
    background:rgba(0, 0, 0, 0.50);
    height: 400px;
    padding-top: 30px;
}
.say-box{
    width: 90%;
    margin-left: 30px;
    margin-right: 30px;
    background: white;
    height: 150px;
    font-size: 16px;
    border-radius: 10px;
    padding:20px;
}
.triangle{
    width: 30px;
    height: 30px;
    background: white;
    margin-left: 80px;
    transform: rotate(45deg);
    margin-top: -15px;
}
.client{
    margin-top: 15px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
}
.client h6{
    color:white;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.client p{
    font-size: 14px;
    color:white;
    margin-left: 10px;
}
.vmore{
    border:1px solid white;
    color:white;
    text-transform: uppercase;
    font-size: 14px;
    background: transparent;
    padding:8px 20px;
    margin-top: 30px;
    margin-left: 40px;
}