.card-body h2{
        font-size: 18px;
        margin-top: 30px;
    
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
}