<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div>
                        <img src="/assets/images/icon-4.png">
                        <h2 class="text-center">Qualified Team</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div>
                        <img src="/assets/images/icon-1.png">
                        <h2 class="text-center">Individual Approach</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div>
                        <img src="/assets/images/icon-7.png">
                        <h2 class="text-center">100% Success</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div>
                        <img src="/assets/images/icon-6.png">
                        <h2 class="text-center">100% Satisfaction</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>