.dip{
    display: flex;
    justify-content: center;
}
.olj{
    width: 400px;
    height: 200px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lin{
    width: 130px;
    height: 6px;
    border-radius: 10px;
    background: coral;
}
.olj h3{
    text-transform: uppercase;
}
.carrd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-w{
    width: 100%;
}
.img-w img{
    width: 100%;
}
.bok{
    background: rgb(28,29,33);
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.coc{
    width: 100%;
    padding:25px;
    border-top: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.coc h5{
    text-transform: uppercase;
    font-size: 18px;
}
.coc p{
    font-size: 16px;
}
.odio{
    padding-bottom: 20px;
}
.bok h6{
    color:white;
    font-size: 14px;
    margin-bottom: 0;
}
.mji{
    color:white;
    background: coral;
    border:none;
    padding:8px 25px;
}
.ty{
    align-items: center;
}