<div class="odio">
    <div class="dip">
        <div class="olj">
            <h6>luctus lugia lacus no odio nunc</h6>
            <h3>fabuus lebro risus</h3>
            <div class="lin"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
                <div class="carrd">
                    <div class="img-w">
                        <img src="/assets/images/cit.png" class="img-fluid">
                    </div>
                    <div class="bok">
                        <div class="d-flex flex-row ty" style="margin-left: 15px;">
                            <div>
                        <img src="/assets/images/pfi.png">
                    </div>
                        <h6 style="margin-left: 5px;">Admin</h6>
                    </div>
                    <div class="d-flex flex-row ty" style="margin-right: 15px;">
                        <div>
                        <img src="/assets/images/pfi2.png">
                    </div>
                        <h6 style="margin-left: 5px;">06 April 2045</h6>
                    </div>
                    </div>
                    <div class="coc">
<h5>mancna elu psoso ftool  sontent ol ojdsl joj</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus! Blanditiis dolore non porro rerum ut doloribus nisi totam inventore?</p>
<button class="mji">Read More</button>                    
</div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="carrd">
                    <div class="img-w">
                        <img src="/assets/images/cit2.png" class="img-fluid">
                    </div>
                    <div class="bok">
                        <div class="d-flex flex-row ty" style="margin-left: 15px;">
                            <div>
                        <img src="/assets/images/pfi.png">
                    </div>
                        <h6 style="margin-left: 5px;">Admin</h6>
                    </div>
                    <div class="d-flex flex-row ty" style="margin-right: 15px;">
                        <div>
                        <img src="/assets/images/pfi2.png">
                    </div>
                        <h6 style="margin-left: 5px;">05 April 2045</h6>
                    </div>
                    </div>
                    <div class="coc">
<h5>mancna elu psoso ftool  sontent ol ojdsl joj</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus! Blanditiis dolore non porro rerum ut doloribus nisi totam inventore?</p>
<button class="mji">Read More</button>                    
</div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="carrd">
                    <div class="img-w">
                        <img src="/assets/images/cit3.png" class="img-fluid">
                    </div>
                    <div class="bok">
                        <div class="d-flex flex-row ty" style="margin-left: 15px;">
                            <div>
                        <img src="/assets/images/pfi.png">
                    </div>
                        <h6 style="margin-left: 5px;">Admin</h6>
                    </div>
                    <div class="d-flex flex-row ty" style="margin-right: 15px;">
                        <div>
                        <img src="/assets/images/pfi2.png">
                    </div>
                        <h6 style="margin-left: 5px;">04 April 2045</h6>
                    </div>
                    </div>
                    <div class="coc">
<h5>mancna elu psoso ftool  sontent ol ojdsl joj</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, totam minus! Blanditiis dolore non porro rerum ut doloribus nisi totam inventore?</p>
<button class="mji">Read More</button>                    
</div>
                </div>
            </div>
        </div>
    </div>
</div>