<div class="d-flex flex-row">

<div class="about-us">
    <div class="frame"></div>
    <img class="men" src="/assets/images/about-2.jpg">
    <img class="women" src="/assets/images/about-1.jpg">

</div>
<div class="cont">
<h6>Learn About Us</h6>
<h2>25 Years Experience</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
</p>
<button class="btn-more">learn more</button>
</div></div>