<div class="about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="lf-sec">
                    <img src="/assets/images/tablet-img.png">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about" style="float:right">
                <h1>About <span style="color: #c6610f;">Us</span></h1>
           <hr style="border-top: 1px solid black;">
            </div>
            <p class="clearfix" style="float: right;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
<button class="round-btn">Read More</button>
            </div>
        </div>
    </div>
</div>