.about-us{
    width: 100%;
    margin-left: 100px;
    height: 600px;
    position: relative;
   }
.frame{
    width: 430px;
    height: 470px;
    border:30px solid gray;
    margin-left: 30px;
    position: absolute;
    margin-top: 65px;
    z-index: 4;
    margin-bottom: 30px;
    border-image: repeating-linear-gradient( 45deg
, rgba(0,0,0,.05), rgba(0,0,0,.05) .5%, rgba(0,0,0,.1) .5%, rgba(0,0,0,.1) 1%) 30;

}
.about-us img.men{
    width: 360px;
    z-index: 2;
    position: absolute;
}
.about-us img.women{
    width: 360px;
    left: 150px;
    top:150px;
    z-index: 3;
    position: absolute;
}
.cont{
    width: 100%;
    margin-left: 10%;
    height: 300px;
    margin-right: 100px;
    position: relative;
    margin-top: 100px;
}
.btn-more{
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #092a49;
    border: 2px solid #092a49;
    border-radius: 0;
    background: none;
    transition: .3s;
}
.cont h6{
    font-size: 18px;
    font-weight: 400;
}
.cont h2::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 0;
    top: 49px;
    left: -40px;
    border-bottom: 30px solid;
    border-image: repeating-linear-gradient( 
60deg
, rgba(0,0,0,.05), rgba(0,0,0,.05) 1.5%, rgba(0,0,0,.1) 1.5%, rgba(0,0,0,.1) 3%) 30;
}
.cont p{
    font-size: 18px;
}