
.hd{
    background: blue;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tdi{
    height: 30px;
    margin-left: 50px;
    display: flex;
    width: 160px;
    color:white;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgb(211, 200, 200);
    border-right: 1px solid rgb(211, 200, 200);
}
.tdi p{
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 7px;
}
.ikl{
    width: 250px;
    border-left: none;
    margin-left: 0;
}
.ri{
    margin-left: auto;
    margin-right: 90px;
    color:white;
}
.ri i{
    margin-right: 5px;
    margin-left: 5px;
}