<div style="padding-top: 20px;float: left;">
<i  class="fa fa-phone" style="margin-right: 15px;margin-left: 15px;"></i><span>+00 (123) 456 7890</span>
<i  class="fa fa-envelope" style="margin-right: 15px;margin-left: 15px;"></i><span>INFO@DOMAIN.COM</span>
</div>
<div style="float: right;margin-top: 20px;">
<i class="fa fa-home" style="color: #FBAB45;margin-right: 10px;"></i>
<i class="fa fa-life-ring" style="color: #FBAB45;margin-right: 10px;"></i>
<i class="fa fa-user-circle" style="color: #FBAB45;margin-right: 10px;"></i>
<i class="fa fa-edit" style="color: #FBAB45;margin-right: 10px;"></i>
<i class="fa fa-search" style="color: #FBAB45;margin-right: 10px;"></i>
</div>
<div class="clearfix"></div>