<div class="kkk">
    <h6>Meet Our Advisors</h6>
    <h1>Our Professional Consulting Team</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <div class="itm">
                <div>
                    <img src="/assets/images/team-1.jpg" class="img-fluid">
                </div>
                <div class="itm-text">
                    <h2>Donald John</h2>
                    <p>Founder & CEO</p>
                    <div class="itm-social">
                        <a class="anc">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-linked-in"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-3">
            <div class="itm">
                <div>
                    <img src="/assets/images/team-2.jpg" class="img-fluid">
                </div>
                <div class="itm-text">
                    <h2>Adam Phillps</h2>
                    <p>Chef Executive</p>
                    <div class="itm-social">
                        <a class="anc">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-linked-in"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-3">
            <div class="itm">
                <div>
                    <img src="/assets/images/team-3.jpg" class="img-fluid">
                </div>
                <div class="itm-text">
                    <h2>Thomas Olsen</h2>
                    <p>Chef Advisor</p>
                    <div class="itm-social">
                        <a class="anc">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-linked-in"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-3">
            <div class="itm">
                <div>
                    <img src="/assets/images/team-4.jpg" class="img-fluid">
                </div>
                <div class="itm-text">
                    <h2>James Alien</h2>
                    <p>Advisor</p>
                    <div class="itm-social">
                        <a class="anc">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="anc">
                            <i class="fa fa-linked-in"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="mb-3"></div>