.kkk{
    margin-top: 30px;
    margin-left: 90px;
    position: relative;
}
.kkk h1::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 0;
    top: 23px;
    left: -40px;
    border-bottom: 30px solid;
    border-image: repeating-linear-gradient( 
60deg
, rgba(0,0,0,.05), rgba(0,0,0,.05) 1.5%, rgba(0,0,0,.1) 1.5%, rgba(0,0,0,.1) 3%) 30;
}
.kkk h1{
    position: relative;
}
.itm{
    position: relative;
}
.itm-text{
    position: absolute;
    width: 90%;
    height: 100px;
    bottom: 0;
    margin-left: 50%;
    color:white;
    transform: translate(-50%,0);
    background: rgba(256, 256, 256, .9);
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    transition: .3s;
    overflow: hidden;

}
.itm:hover .itm-text{
    height: 160px;
}
a.anc{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 3px;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    color: #092a49;
    border: 2px solid #092a49;
    transition: .3s;
}
.itm-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.itm-text h2{
    color:#0796fe;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
}
.itm-text p{
    text-align: center;
    color:#092a49;
}