<div class="row" style="padding-top:50px;padding-bottom:50px">
    <div class="col-md-6 col-lg-3">
        <div class="itm">
            <div class="itm-img-wr">
                <i class="fa fa-heart-o"></i>
            </div>
            <div class="itm-content">
                <h6>Instant and Reliable Result</h6>
                <p>Our platform provides imatartaneoun comprehensive and reliable results</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="itm">
            <div class="itm-img-wr">
                <i class="fa  fa-briefcase"></i>   
            </div>
            <div class="itm-content">
                <h6>Secure and encrypted data</h6>
                <p>Patients records are securely stored on the eyes of AI cloud extremely a tradious task of data
                    maintance and security</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="itm">
            <div class="itm-img-wr">
                <i class="fa fa-check-square-o"></i>    
            </div>
            <div class="itm-content">
                <h6>Cross verification platform</h6>
                <p>Edit and update your x-rays images might a procedure object verification platforms at your disposal
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="itm">
            <div class="itm-img-wr">
              <i class="fa fa-asterisk"></i>
            </div>
            <div class="itm-content">
                <h6>Growing Intelligence</h6>
                <p>The contineously learning artificial intelligence our system will more you like it,the current is
                    tecorners</p>
            </div>
        </div>
    </div>
</div>
<div class="row patner">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="/assets/images/comp1.png">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="/assets/images/comp2.png">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="/assets/images/comp3.png">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="/assets/images/comp4.png">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="/assets/images/comp5.png">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="/assets/images/comp6.png">
    </div>
</div>