<div class="classified">
    <div class="clss">
    <h1>ONE OF THE BEST </h1>
    <h1 style="color:#c6610f">CLASSIFIED</h1>
    <hr style="border-top: 1px solid black;">
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="d-flex flex-row mt-2">
                <img src="/assets/images/img-1.png" width="160px">
                <div style="margin-left: 30px;">
<h5>FRONT END MULTICURRENCY</h5>
<p style="font-size: 16px;">Using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model</p>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="d-flex flex-row mt-2">
                <img src="/assets/images/img-1.png" width="160px">
                <div style="margin-left: 30px;">
<h5>FRONT END MULTICURRENCY</h5>
<p style="font-size: 16px;">Using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model</p>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <button class="round-btn">Read More</button>
        </div>
    </div>
</div>
</div>