<div class="wrapper">
    <div class="header">
        <div class="header-menu">
            <div class="title">
                Coding <span>Snow</span>
            </div>
            <div class="sidebar-btn">
                <i class="fa fa-bars"></i>
            </div>
            <ul>
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-bell"></i></a></li>
                <li><a href="#"><i class="fa fa-power-off"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-menu">
            <div class="profile">
                <img src="/assets/images/business-man.png">
                <p>Jessica</p>
            </div>
            <li class="item">
                <a href="#" class="menu-btn">
                    <i class="fa fa-desktop"></i><span>Dashboard</span>
                </a>
            </li>
            <li class="item" id="profile">
                <a href="share#profile" class="menu-btn">
                    <i class="fa fa-user-circle"></i><span>Profile<i class="fa fa-chevron-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#"><i class="fa fa-image"></i><span>Picture</span></a>
                    <a href="#"><i class="fa fa-address-card"></i><span>Info</span></a>
                </div>
            </li>
            <li class="item" id="message">
                <a href="share#message" class="menu-btn">
                    <i class="fa fa-envelope"></i><span>Messages<i class="fa fa-chevron-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#"><i class="fa fa-envelope"></i><span>New</span></a>
                    <a href="#"><i class="fa fa-envelope-square"></i><span>Sent</span></a>
                    <a href="#"><i class="fa fa-exclamation-circle"></i><span>Spam</span></a>
                </div>
            </li>
            <li class="item" id="settings">
                <a href="share#settings" class="menu-btn">
                    <i class="fa fa-cog"></i><span>Settings<i class="fa fa-chevron-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#"><i class="fa fa-lock"></i><span>Password</span></a>
                    <a href="#"><i class="fa fa-language"></i><span>Language</span></a>
                   
                </div>
            </li>
            <li class="item">
                <a href="#" class="menu-btn">
                    <i class="fa fa-info-circle"></i><span>About</span>
                </a>
            </li>
        </div>
    </div>
</div>