.iol{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.jol{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.lo{
    height: 6px;
    border-radius: 10px;
    background: darkorange;
    width: 150px;
    margin-top: 15px;
}
.jol h4{
    text-transform: uppercase;
}
.ikki{
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ikki h1{
    color:rgb(251, 171, 69);
    font-weight: bold;
}
.ikki p{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.rl{
    border-right: none;
}