<div class="auctor">
    <div class="iol">
        <div class="jol">
            <h6>nisl wityau gokll odols jdo</h6>
            <h4>solj josl hojl auctor</h4>
            <div class="lo"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3">
                <div class="ikki">
                    <div>
                    <img src="/assets/images/horse.png">
                </div>
                    <h1>123</h1>
                    <p>Pleasent accoutn</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="ikki">
                    <div>
                    <img src="/assets/images/men.png">
                </div>
                    <h1>1234</h1>
                    <p>extiya maximun</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="ikki">
                    <div>
                    <img src="/assets/images/globe.png">
                </div>
                    <h1>12345</h1>
                    <p>alkium nakku</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="ikki rl">
                    <div>
                    <img src="/assets/images/mark.png">
                </div>
                    <h1>6789</h1>
                    <p>carubum sodas</p>
                </div>
            </div>
        </div>
    </div>
</div>