<div class="annot">
    <div class="card">
        <div class="card-header">
            <div class="gdots">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="power">Powering the future of Dentistry with Artificial Intelligence</h5>
       <div class="btns">
           <button class="btn-exp-more">Explorer more</button>
           <button class="btn-sign-up">Sign up</button>
       </div>
       <p class="avail"><span>Our software is also available on mobile</span> <img src="/assets/images/apple.svg" alt="apple"> <img src="/assets/images/play-store.svg" alt="play-store"></p>
        </div>
    </div>
    <div class="x-rays-wr">
        <img src="/assets/images/x-rays.png">
    </div>
</div>