<div class="kkk">
    <h6>Get In Touch</h6>
    <h1>Get In Touch For Any Query</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <div class="pad">
                <div class="box">
                    <div class="conte">
                        <div class="loc">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ik">
                            <h3>Our Head Office</h3>
                            <p>123 Street, New York, USA</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="conte">
                        <div class="loc">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ik">
                            <h3>Our Head Office</h3>
                            <p>123 Street, New York, USA</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="conte">
                        <div class="loc">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ik">
                            <h3>Our Head Office</h3>
                            <p>123 Street, New York, USA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="bord">
                <input type="text" name="name" placeholder="Your Name">
                <input type="email" name="email" placeholder="Your Email">
                <input type="text" name="subject" placeholder="Subject">
        <textarea name="message" placeholder="Message"></textarea>
        <button class="btn-send">send message</button>
            </div>
        </div>
    </div>
</div>
<div class="mb-3"></div>