<div class="card">
<div class="card-body">
    <img  alt="mobile1" src="/assets/images/mob.png">
    <img alt="mobile2" src="/assets/images/mob2.png">
    <div class="prec">
        <h3>Save precious time and money on any device</h3>
        <h6>Step 1. Track patient diagnoses and visits</h6>
        <p>Create and track patient visits and diagnoses using the &quot;Diagnoses&quot; tab</p>
   <button class="btn-nxt-step">Next step</button>
    </div>
</div>
<div class="card-footer">
    <div class="download-app">
        <div class="apple">
            <div class="apple-wr">
                <img src="/assets/images/apple.svg">
            </div>
            <div class="apple-content">
                <h5>Download on the</h5>
                <h3>App Store</h3>
            </div>
        </div>
        <div class="apple">
            <div class="apple-wr">
                <img src="/assets/images/play-store.svg">
            </div>
            <div class="apple-content">
                <h5>Get it on</h5>
                <h3>Google Play</h3>
            </div>
        </div>
    </div>
</div>
</div>