<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
<div class="navbar-brand">Confer</div>
<ul class="navbar-nav ml-auto">
<li class="nav-item">
    <a class="nav-link text-white">Home</a>
    
</li>
<li class="nav-item">
    <a class="nav-link text-white">About</a>
    
</li>
<li class="nav-item">
    <a class="nav-link text-white">Service</a>
    
</li>
<li class="nav-item">
   
    <a class="nav-link text-white">Feature</a>
    
</li>
<li class="nav-item">
   
    <a class="nav-link text-white">Adviser</a>
    
</li>
<li class="nav-item">
   
    <a class="nav-link text-white">Review</a>
    
</li>
   
<li class="nav-item">
   
    <a class="nav-link text-white">Pages</a>
    
</li>
<li class="nav-item">
   
    <a class="nav-link text-white">Contact</a>
    
</li>
 
    
</ul>
</nav>