.active{
    color:#FBAB45;

}
ul li{
position: relative;
    width: 140px;
}
ul li ul li{
    position: relative;
}
ul ul li:hover{
    background:cadetblue;
}
ul ul ul li:hover{
    background:cadetblue;
}
li:hover ul{
    display: block;
}

ul li ul li:hover ul{
    display: block;
}
ul ul ul{
    display: none;
    left:140px;
    top:0px;
    position: absolute;
}

ul ul li{
    background:hsl(34, 96%, 63%);
    height: 40px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid gray;
}
ul ul ul li{
    background:hsl(34, 96%, 63%);
    height: 40px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid gray;
}
ul ul{
    position: absolute;
    list-style: none;
    display: none;
}

