<div class="navbar navbar-expand-sm">
    <div class="navbar-brand" style="font-size: 30px;">
        SISLAF
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link active">Home</a>
            
        </li>
        <li class="nav-item">
            <a class="nav-link text-white">Pages</a>
            <ul>
                <li>Gallary</li>
                <li>Full Width</li>
                <li>Sidebar Left</li>
                <li>Sidebar Right</li>
                <li>Basic Grid</li>
                <li>Font Icons</li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white">Dropdown</a>
            <ul>
                <li>Dorpd 1</li>
                <li>Dorpd 2</li>
                <li>Dorpd 3
                    <ul>
                        <li>Sub Drop1</li>
                        <li>Sub Drop2</li>
                        <li>Sub Drop3</li>
                        <li>Sub Drop4</li>
                    </ul>
                </li>
                <li>Dorpd 4</li>
                <li>Dorpd 5</li>


            </ul>      
        </li>
        <li class="nav-item">
            <a class="nav-link text-white">LinkText</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white">LinkText</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white">LinkText</a>
        </li>
    </ul>
</div>