.image-container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.image-container .after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    display: block;
    background: rgba(0, 0, 0, .6);
}
.btn{
    padding: 15px 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
    margin-right: 10px;
}
.btn:hover{
    background:white;
    color:#0796fe;
}
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    /* color: inherit; */
    border: none;
    padding: 0!important;
    font: inherit;
    width: 60px!important;
    height: 60px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0796fe!important;
    background: #092a49!important;
    font-size: 22px;
    transition: .3s;
}
.owl-prev{
    background: tomato!important;
}
.btn1,.btn2{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0796fe;
    background: #092a49;
    font-size: 22px;
    transition: .3s;
    font-size: 32px;
    border:none;   
}