<div class="our-services">
    <div class="dk">
    <h6>Consulting Services</h6>
    <h2 class="ik">Our Best Consulting Services</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="itme">
                        <div>
                            <img src="/assets/images/icon-1.png">
                           </div>
                           <h5 class="text-center">Business Strategy</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non</p>
                       <a>Read More</a>
                       <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="itme">
                        <div>
                            <img src="/assets/images/icon-2.png">
                           </div>
                           <h5 class="text-center">Project Management</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non</p>
                       <a>Read More</a>
                       <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="itme">
                        <div>
                            <img src="/assets/images/icon-3.png">
                           </div>
                           <h5 class="text-center">Market Research</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non</p>
                       <a>Read More</a>
                       <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="itme">
                        <div>
                            <img src="/assets/images/icon-4.png">
                           </div>
                           <h5 class="text-center">Human Resource</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non</p>
                       <a>Read More</a>
                       <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="itme">
                        <div>
                            <img src="/assets/images/icon-5.png">
                           </div>
                           <h5 class="text-center">Online Business</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non</p>
                       <a>Read More</a>
                       <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="itme">
                        <div>
                            <img src="/assets/images/icon-6.png">
                           </div>
                           <h5 class="text-center"> Capital Management</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non</p>
                       <a>Read More</a>
                       <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="itme">
                        <div>
                            <img src="/assets/images/icon-7.png">
                           </div>
                           <h5 class="text-center">Business Insurance</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non</p>
                       <a>Read More</a>
                       <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="itme">
                        <div>
                            <img src="/assets/images/icon-8.png">
                           </div>
                           <h5 class="text-center">Online Marketing</h5>
                           <p class="text-center">Lorem ipsum dolor sit amet elit. Phasellus nec pretium ornare velit non</p>
                       <a>Read More</a>
                       <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>