<div class="review">
    <div class="clss">
        <h1>OUR CLIENT </h1>
        <h1 style="color:#c6610f">REVIEW</h1>
        <hr style="border-top: 1px solid black;">
    </div>
    <p class="pp">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it</p>
<div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
    <div class="carouse-inner">
<div class="carousel-item active">
    
    <div class="mitem">
    <img src="/assets/images/img-3.png">
    <h3>JOHN DUE</h3>
    <p style="color:#c6610f">(adiser)</p>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
</div>
</div>
<div class="carousel-item">
    
    <div class="mitem">
    <img src="/assets/images/img-3.png">
    <h3>JOHN DUE</h3>
    <p style="color:#c6610f">(adiser)</p>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
</div>
</div>
<div class="carousel-item">
    
    <div class="mitem">
    <img src="/assets/images/img-3.png">
    <h3>JOHN DUE</h3>
    <p style="color:#c6610f">(adiser)</p>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
</div>
</div>
</div>
<ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
  </ol>
</div>

</div>