.review .clss{
    width: 500px;
    margin-left: 120px;
}
.review{
    height: 675px;
    background: beige;
}
.pp{
    margin-left: 120px;
    margin-right: 120px;
    font-size: 15px;
}
.mitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%,0);
}
.mitem p{
    font-size: 15px;
    text-align: center;
}
.carousel-indicators{
    position: relative;
    bottom: -400px;margin-bottom: 0px;
}
.carousel-indicators .active {
    background-color: #c6610f;
    height: 4px;
    width: 40px;
}


.carousel-indicators li {
    background-color: #052501;
    height: 4px;
    width: 40px;
    top: 50px;
}