<div class="review">
    <h3 class="review-heading">Latest Users Review</h3>
    <p class="review-para">Automated and instant analysis at the click of a button</p>
<div class="doctors">
    <div class="circle">
        <img src="/assets/images/doctor.png">
    </div>
    <div class="circle">
        <img src="/assets/images/doctor2.png">
    </div>
    <div class="circle">
        <img src="/assets/images/doctor.png">
    </div>
    <div class="circle">
        <img src="/assets/images/doctor2.png">
    </div>
    <div class="circle circle-over">
       <span>20+</span>
    </div>
</div>
<!-- <div class="carousel">
    <div class="carousel-item">

    </div>
</div> -->
<div id="owl-example" class="owl-carousel">
<div class="content item">
    <h5>Excellent and efficient</h5>
    <p>we conduct to many Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quasi voluptates asperiores nisi est.</p>
<div class="say">
    <div class="say-user">
<div>
    <div class="circle">
    <img src="/assets/images/doctor.png">
</div>
</div>
<div class="say-user-name">
<h4>Dr. Edward Yoo</h4>
<p>Overtime</p>
</div>
    </div>
    <div class="rating-wr">
        <img src="/assets/images/rating.png">
    </div>
</div>
</div>
<div class="content item">
    <h5>Excellent and efficient</h5>
    <p>we conduct to many Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quasi voluptates asperiores nisi est.</p>
<div class="say">
    <div class="say-user">
<div>
    <div class="circle">
    <img src="/assets/images/doctor2.png">
</div>
</div>
<div class="say-user-name">
<h4>Dr. Edward Yoo2</h4>
<p>Overtime</p>
</div>
    </div>
    <div class="rating-wr">
        <img src="/assets/images/rating.png">
    </div>
</div>
</div>
<div class="content item">
    <h5>Excellent and efficient</h5>
    <p>we conduct to many Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quasi voluptates asperiores nisi est.</p>
<div class="say">
    <div class="say-user">
<div>
    <div class="circle">
    <img src="/assets/images/doctor.png">
</div>
</div>
<div class="say-user-name">
<h4>Dr. Edward Yoo3</h4>
<p>Overtime</p>
</div>
    </div>
    <div class="rating-wr">
        <img src="/assets/images/rating.png">
    </div>
</div>
</div>
<div class="content item">
    <h5>Excellent and efficient</h5>
    <p>we conduct to many Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quasi voluptates asperiores nisi est.</p>
<div class="say">
    <div class="say-user">
<div>
    <div class="circle">
    <img src="/assets/images/doctor.png">
</div>
</div>
<div class="say-user-name">
<h4>Dr. Edward Yoo</h4>
<p>Overtime</p>
</div>
    </div>
    <div class="rating-wr">
        <img src="/assets/images/rating.png">
    </div>
</div>
</div>
<div class="content item">
    <h5>Excellent and efficient</h5>
    <p>we conduct to many Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quasi voluptates asperiores nisi est.</p>
<div class="say">
    <div class="say-user">
<div>
    <div class="circle">
    <img src="/assets/images/doctor2.png">
</div>
</div>
<div class="say-user-name">
<h4>Dr. Edward Yoo2</h4>
<p>Overtime</p>
</div>
    </div>
    <div class="rating-wr">
        <img src="/assets/images/rating.png">
    </div>
</div>
</div>
<div class="content item">
    <h5>Excellent and efficient</h5>
    <p>we conduct to many Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quasi voluptates asperiores nisi est.</p>
<div class="say">
    <div class="say-user">
<div>
    <div class="circle">
    <img src="/assets/images/doctor.png">
</div>
</div>
<div class="say-user-name">
<h4>Dr. Edward Yoo3</h4>
<p>Overtime</p>
</div>
    </div>
    <div class="rating-wr">
        <img src="/assets/images/rating.png">
    </div>
</div>
</div>
<div class="content item">
    <h5>Excellent and efficient</h5>
    <p>we conduct to many Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quasi voluptates asperiores nisi est.</p>
<div class="say">
    <div class="say-user">
<div>
    <div class="circle">
    <img src="/assets/images/doctor.png">
</div>
</div>
<div class="say-user-name">
<h4>Dr. Edward Yoo</h4>
<p>Overtime</p>
</div>
    </div>
    <div class="rating-wr">
        <img src="/assets/images/rating.png">
    </div>
</div>
</div>
<div class="content item">
    <h5>Excellent and efficient</h5>
    <p>we conduct to many Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quasi voluptates asperiores nisi est.</p>
<div class="say">
    <div class="say-user">
<div>
    <div class="circle">
    <img src="/assets/images/doctor2.png">
</div>
</div>
<div class="say-user-name">
<h4>Dr. Edward Yoo2</h4>
<p>Overtime</p>
</div>
    </div>
    <div class="rating-wr">
        <img src="/assets/images/rating.png">
    </div>
</div>
</div>
<div class="content item">
    <h5>Excellent and efficient</h5>
    <p>we conduct to many Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quasi voluptates asperiores nisi est.</p>
<div class="say">
    <div class="say-user">
<div>
    <div class="circle">
    <img src="/assets/images/doctor.png">
</div>
</div>
<div class="say-user-name">
<h4>Dr. Edward Yoo3</h4>
<p>Overtime</p>
</div>
    </div>
    <div class="rating-wr">
        <img src="/assets/images/rating.png">
    </div>
</div>
</div>
</div>  
</div>


