<div class="touch">
    <div class="card">
        <div class="clip-circle">&nbsp;</div>
        <div class="clip-circle-small">&nbsp;</div>
        <div class="card-body">
            <div class="touch-content">
                <h4>Get in touch with us</h4>
                <div class="mail-box">
                    <input type="email" placeholder="Email Address">
                    <button>Submit</button>
                </div>
            </div>
        </div>
        <div class="gdots">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
</div>