.sislaf{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/bg3.png");
    padding-top: 30px;
    color:white;
}
.sil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links img{
    margin-left: 10px;
    margin-right: 10px;
}
.itm1 p{
    font-size: 14px;
}
.itm1 input{
    background:rgb(209, 209, 210);
    width: 100%;
    border:none;
    outline: none;
    padding-left: 8px;
    margin-bottom: 10px;
    height: 40px;
}
.ibt{
    background: coral;
    color:white;
    border:none;
    padding:6px 16px;
    margin-bottom: 10px;
}
.itm1 input:focus{
    outline: none;
}
.itm2 p.yel{
    font-size: 14px;
    color:rgb(251,171,59);
}
.itm2 p{
    font-size: 14px;
}
.item3 ul{
    list-style: none;
}
.item3 ul li{
    border-bottom: 1px solid black;
    color:rgb(251,171,59);
    padding-bottom: 15px;
    padding-top: 15px;

}
.item3 ul li:first-child{
    padding-top: 0px;
}
.itm2 h5{
    text-transform: uppercase;
}
.itm1 h5{
    text-transform: uppercase;
}

.item3 h5{
    text-transform: uppercase;
}
.item4 h5{
    text-transform: uppercase;
}
.ikkop{
    display: flex;
    flex-direction: row;
}
.ilo h6{
    color:white;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 15px;
}
.ilo p{
    font-size: 13px;
    margin-left: 15px;
    color:gray;
}

.item4 .grd{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
}