<div class="sislaf">
    <div class="sil">
        <h3>SISLAF</h3>
        <div class="social-links">
<img src="/assets/images/ball.png">
<img src="/assets/images/fb.png">
<img src="/assets/images/gplus.png">
<img src="/assets/images/in.png">
<img src="/assets/images/tw.png">
<img src="/assets/images/wiki.png">
        </div>
        <p>pellenel ojdk ojljj  fdoldjldj djof jdfoj djols djosj sojl soj.</p>
    </div>
    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3">
                <div class="itm1">
                    <h5>lorm kolkdjo jodll</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex harum quo nihil? Nisi aliquid dicta qui illum?</p>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <button class="ibt">submit</button>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="itm2">
                    <h5>olkljk jojjl jojl</h5>
                    <p class="yel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex harum quo nihil? Nisi aliquid dicta qui illum?</p>
<p>Friday, 6th April 2045</p>
<hr>
<p class="yel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex harum quo nihil? Nisi aliquid dicta qui illum?</p>
<p>Thursday, 5th April 2045</p>
<hr>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="item3">
                    <h5>lorek siflam solll</h5>
                    <ul>
                        <li>Amet blandit now quam quisque</li>
                        <li>curus blandit now quam quisque</li>
                        <li>libro blandit now quam quisque</li>
                        <li>ut blandit now quam quisque</li>
                        <li>vit blandit now quam quisque</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="item4">
                    <h5>lork implus dosl ldil</h5>
                    <div class="grd">
                        <img src="/assets/images/grd1.png">
                        <img src="/assets/images/grd2.png">
                        <img src="/assets/images/grd3.png">
                        <img src="/assets/images/grd4.png">
                        <img src="/assets/images/grd5.png">
                        <img src="/assets/images/grd6.png">
                        <img src="/assets/images/grd7.png">
                        <img src="/assets/images/grd8.png">
                        <img src="/assets/images/grd9.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3">
                <div class="ikkop">
                    <div>
                        <img src="/assets/images/ph.png">
                    </div>
                    <div class="ilo">
                    <h6>Give Us A Call:</h6>
                    <p>+00 (123) 456 7890</p>
                </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="ikkop">
                    <div>
                        <img src="/assets/images/mail.png">
                    </div>
                    <div class="ilo">
                    <h6>Send Us A Mail:</h6>
                    <p>support@domain.com</p>
                </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="ikkop">
                    <div>
                        <img src="/assets/images/alarm.png">
                    </div>
                    <div class="ilo">
                    <h6>Monday - Saturday:</h6>
                    <p>08.00am - 18.00pm</p>
                </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="ikkop">
                    <div>
                        <img src="/assets/images/loc.png">
                    </div>
                    <div class="ilo">
                    <h6>Come Visit Us:</h6>
                    <p>
                        Directions to <span style="color: chocolate;">our location</span>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>