.magnet{
    width: 100%;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: url("/assets/images/bg.png");
}
.kko{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-out{
    border:1px solid white;
    color:white;
    width: 180px;
    margin-left: 20px;
    background:transparent;
    padding:4px 18px;
}
.btn-dense{
    border:none;
    width: 180px;
    margin-right: 20px;
    color:white;
    background:#FBAB45;
    padding:4px 18px; 
}