<div class="magnet">
<app-header-top></app-header-top>
<app-header-main></app-header-main>
<h1 class="text-center mt-5">FINIBUS DICTUM LOBORTIS</h1>
<p class="text-center" style="margin-left: 250px;margin-right: 250px;">Libero sed ullamcorper nibh dignissim et curabitur cursus scelerisque metus sit amet sodales justo auctor sit amet proin quis lacus non nisi.</p>
<div class="kko">
    <button class="btn-dense">sagis massa</button>
    <button class="btn-out">phatream etiam</button>
</div>
</div>