<div class="banner">
    <app-header></app-header>

<div id="main-slider" class="carousel slide" data-ride="carousel">    
    <div class="carousel-inner">

  <div class="carousel-item active">
    <div class="slider">
        <div class="slider-content">

       
        <h1>Classified Ads</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
   <button class="round-btn">Ads Now</button>
   <button class="round-white-btn">
    Contact Us
   </button>
    </div>
    <div class="slider-image">
        <img src="/assets/images/banner-img1.png" class="img-fluid">
    </div>
</div>
</div>
<div class="carousel-item">
    <div class="slider">
        <div class="slider-content">

       
        <h1>Classified Ads</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
   <button class="round-btn">Ads Now</button>
   <button class="round-white-btn">
    Contact Us
   </button>
    </div>
    <div class="slider-image">
        <img src="/assets/images/banner-img1.png" class="img-fluid">
    </div>
</div>
</div>
</div>
</div>
</div>
<app-about-us></app-about-us>
<app-classified></app-classified>
<app-review></app-review>
<app-contact-us></app-contact-us>