<div class="diag">
    <div class="diag-content">
        <h5>Automated annotations, diagnoses and interpretations of dental x-rays images</h5>
<p>
    Every day &quot;Eyes of A.I&quot; helps thousands of dental practitionalrs world wide by streaming their most important tasks using the power of Artificial Intelligence.
    <br>
    <br>Our A.I software brings all components together into one centrallised system.
</p>
<p class="text-link">click on each section below to see how it works</p>
    </div>
    <div class="diag-image">
        <img src="/assets/images/diag.png">
    </div>
</div>