<div class="kkk">
    <h6>Consulting Blog</h6>
    <h1>Latest from our Consulting blog</h1>
</div>
<div class="container mb-2">
    <owl-carousel [options]="SlideOptions2" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >  
    <div *ngFor="let image of images">
            <div class="iitm">
                <div class="iitm-img">
                <img src="{{image}}" >
            </div>
            <div class="iitm-text">
                <h5>lorem ipsum dolor sit amet</h5>
                <h6><i class="fa fa-list-alt"></i>Category &nbsp;&nbsp;&nbsp;<i class="fa fa-calendar"></i>01-Jan-2045</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita obcaecati magni blanditiis, provident molestias assumenda placeat officiis praesentium facilis itaque similique sed ducimus repellat corrupti aliquam neque doloribus esse nisi?</p>
        <a class="rmo">Read more</a>  
        </div>
            </div>
        </div>    
</owl-carousel>
</div>
