<div class="jeal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
                <div class="oll">
<img src="/assets/images/jeal1.png" class="img-fluid">
<h6 class="text-center mt-2 mb-2" style="background: lightblue;">VIVERRA CONGUE</h6>
<p class="mt-2 mb-2 gh">Aenean metus purus consectetur ac sagittis in malesuada quis nunc ut sed risus nulla etiam gravida velit.</p>
</div>
            </div>
            <div class="col-xl-4">
                <div class="oll">
<img src="/assets/images/jeal2.png" class="img-fluid">
<h6 class="text-center mt-2 mb-2" style="background: lightblue;">LIBERO SODALES</h6>
<p class="mt-2 mb-2 gh">Aenean metus purus consectetur ac sagittis in malesuada quis nunc ut sed risus nulla etiam gravida velit.</p>
</div>
            </div>
            <div class="col-xl-4">
                <div class="oll">
<img src="/assets/images/jeal3.png" class="img-fluid">
<h6 class="text-center mt-2 mb-2" style="background: lightblue;">LAOREET TORTOR</h6>
<p class="mt-2 mb-2 gh">Aenean metus purus consectetur ac sagittis in malesuada quis nunc ut sed risus nulla etiam gravida velit.</p>
</div>
            </div>
            <div class="col-xl-12">
                <div style="height: 1px;background:black;margin-top: 50px;margin-bottom: 5px;"></div>
            </div>
        </div>

    </div>
</div>