<input type="checkbox" id="check">
<header>
    <label for="check">
        <i class="fa fa-bars" id="sidebar_btn"></i>
    </label>
    <i class="fa fa-bars" id="sidebar_mobile_btn"></i>
    <div class="left_area">
        <h3>Coding <span>Snow</span></h3>
    </div>
    <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
    </div>
</header>

<div class="sidebar">
    
        <img src="/assets/images/business-man.png" class="profile_image"
        >
    <h4 class="text-center">Jassica</h4>
    <a href="#"><i class="fa fa-desktop"></i><span>Dashboard</span></a>
    <a href="#"><i class="fa fa-cogs"></i><span>Components</span></a>
    <a href="#"><i class="fa fa-table"></i><span>Tables</span></a>
    <a href="#"><i class="fa fa-th"></i><span>Forms</span></a>
    <a href="#"><i class="fa fa-info-circle"></i><span>About</span></a>
    <a href="#"><i class="fa fa-sliders"></i><span>Settings</span></a>
</div>
<div class="sidebar_mobile">
    <a href="#"><i class="fa fa-desktop"></i><span>Dashboard</span></a>
    <a href="#"><i class="fa fa-cogs"></i><span>Components</span></a>
    <a href="#"><i class="fa fa-table"></i><span>Tables</span></a>
    <a href="#"><i class="fa fa-th"></i><span>Forms</span></a>
    <a href="#"><i class="fa fa-info-circle"></i><span>About</span></a>
    <a href="#"><i class="fa fa-sliders"></i><span>Settings</span></a>
</div>