<div class="kkk">
<h6>Testimonials Carousel</h6>
<h1>100% Positive Customer Reviews</h1>
    </div>
    <div class="container">
        <owl-carousel [options]="SlideOptions1" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >  
<div class="item" *ngFor="let item of images">
                <div class="client">
                    <div>
                        <img src="/assets/images/testimonial-4.jpg">

                    </div>
                    <p>Lorem ipsum dolor sit amet aliquid laboriosam. Officia, ducimus facere. Animi aliquid doloribus dolor tempora voluptates quo provident beatae!</p>
              <div class="aut">
                    <h6>Client Name</h6>
               <div class="rul">
               </div>
               <p class="pf">Profession</p>
                </div>
                </div>
            </div>
                </owl-carousel>
         
        </div>
