.sin{
    display: flex;
    justify-content: center;
margin-top: 50px;
margin-bottom: 50px;
}
.di{
    width: 400px;
    height: 200px;
}
.yi{
    width: 150px;
    height: 4px;
    margin-left: 50%;
    transform: translate(-50%,0);
    background:coral;
    border-radius: 10px;
}
.oo{
    display: flex;
    flex-direction: row;
}
.cras{
    margin-left: 5px;
    margin-right: 30px;
    font-size: 16px;
}
.oyu{
    display: flex;
    justify-content: center;
}
.btn-ko{
    background:#FBAB45;
    color:white;
    border:none;
    font-size: 15px;
    text-transform: uppercase;
    padding:8px 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}