<div class="enim">
    <div class="sin">
        <div class="di">
            <h6 class="text-center mt-3">Integer facilisis enim sollicitudin</h6>
      <h4 class="text-center mt-3">DOLOR UT PELLENTESQUE</h4>
      <div class="yi"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
                <div class="oo">
                    <div>
                    <img src="/assets/images/enim1.png">
                </div>
                <h5>EFFICITUR AUCTOR</h5>
                </div>
                <p class="cras">Cras dui ac pretium egestas nunc maecenas scelerisque leo eget enim interdum at vulputate lorem pretium in.</p>
            </div>
            <div class="col-xl-4">
                <div class="oo">
                    <div>
                    <img src="/assets/images/enim3.png">
                </div>
                <h5>METUS CONVALLIS</h5>
                </div>
                <p class="cras">Cras dui ac pretium egestas nunc maecenas scelerisque leo eget enim interdum at vulputate lorem pretium in.</p>
            </div>
            <div class="col-xl-4">
                <div class="oo">
                    <div>
                    <img src="/assets/images/enim2.png">
                </div>
                <h5>TEMPOR ALIQUAM</h5>
                </div>
                <p class="cras">Cras dui ac pretium egestas nunc maecenas scelerisque leo eget enim interdum at vulputate lorem pretium in.</p>
            </div>
        </div>
    </div>
    <div class="oyu">
        <button class="btn-ko">mattis vestibulum</button>
    </div>
</div>