<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <div class="fra">
<div class="frame">

</div>
            
           <img src="/assets/images/business-man.png">
        </div>
        </div>
        <div class="col-xl-6">
            <div class="co">
                <h6>Our Feature</h6>
                <h1>Why Choose Us?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus</p>
           <div class="row">
<div class="col-xl-6">
           
                <div class="oik">
<i class="fa fa-user mt-1 mr-3"></i>
<div>
    <h5>100+</h5>
    <h6>Our Staffs</h6>
</div></div>
            </div>
            <div class="col-xl-6">
           
                <div class="oik">
<i class="fa fa-users mt-1 mr-3"></i>
<div>
    <h5>200+</h5>
    <h6>Our Clients</h6>
</div></div>
            </div>
            <div class="col-xl-6">
           
                <div class="oik">
<i class="fa fa-check mt-1 mr-3"></i>
<div>
    <h5>300+</h5>
    <h6>Completed Projects</h6>
</div></div>
            </div>
            <div class="col-xl-6">
           
                <div class="oik">
<i class="fa fa-clock-o mt-1 mr-3"></i>
<div>
    <h5>400+</h5>
    <h6>Running Projects</h6>
</div></div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>