<footer>
    <div class="social-links">
        <div class="social-link">
            <i class="fa fa-facebook green"></i>
        </div>
        <div class="social-link">
            <i class="fa fa-twitter cyan"></i>
        </div>
        <div class="social-link">
            <i class="fa fa-linkedin blue"></i>
        </div>
        <div class="social-link">
            <i class="fa fa-xing red"></i>
        </div>
    </div>
    <p class="copy">Copyright &copy; Powered AI Pvt Ltd 2021 | All Rights Reserved</p>
</footer>