<div class="justo">
<div class="lemon">
<div class="lem">
    <h6 class="text-center" style="font-weight: 300;">Id elements lobristic justo domain</h6>
<h3 class="text-center">Rustom set lugrial varis</h3>
<div class="jkb"></div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3">
            <div class="client">
                <img src="/assets/images/client.png">
                <h5 class="text-center">A. Doe</h5>
                <p class="tex-sm">Job Title Here</p>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="client">
                <img src="/assets/images/client2.png">
                <h5 class="text-center">B. Doe</h5>
                <p class="tex-sm">Job Title Here</p>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="client">
                <img src="/assets/images/client3.png">
                <h5 class="text-center">C. Doe</h5>
                <p class="tex-sm">Job Title Here</p>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="client">
                <img src="/assets/images/client4.png">
                <h5 class="text-center">D. Doe</h5>
                <p class="tex-sm">Job Title Here</p>
            </div>
        </div>
    </div>
</div>
</div>