<div class="details">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6">
            <div class="detail">
                <div>
                    <img src="/assets/images/detail1.png">
                </div>
                <h4>125,663</h4>
                <p>Happy Patients</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-6">
            <div class="detail">
                <div>
                    <img src="/assets/images/details2.png">
                </div>
                <h4>50,672+</h4>
                <p>Meditians</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-6">
            <div class="detail">
                <div>
                    <img src="/assets/images/detail3.png">
                </div>
                <h4>1,562</h4>
                <p>Offices</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-6">
            <div class="detail">
                <div>
                    <img src="/assets/images/detail4.png">
                </div>
                <h4>457</h4>
                <p>Records</p>
            </div>
        </div>
    </div>
</div>