<div class="magna">
    <div class="colkj">
        <h6>Magna ultrices eleifend suspendisse</h6>
        <h4>POSUERE VIVAMUS SEMPER</h4>
        <div class="ru">
            
        </div>
    </div>
    <div class="overlay">
        <h4 style="color:black">TELLUS NEC MOLLIS SEM</h4>
        <p class="moj">acus dui pretium non elit ac interdum ullamcorper purus ut ultricies ullamcorper convallis morbi bibendum sapien in odio finibus sit amet lacinia dolor dapibus in nisl erat consectetur eu blandit.</p>
  <button class="btn-wi">farmuda flece</button>
    </div>
</div>