.disclaimer{
    padding:45px 15px 35px;
    color:rgb(114,119,131);
}
.disclaimer h4#dis{
    font-size: 28px;
    color:rgb(110,111,115);
}
ul{
    list-style-type: lower-roman;
    list-style-position: inside;
}

.disclaimer p#p1{
    font-size: 14px;
}