<div class="disclaimer">
    <h4 id="dis">Disclaimer</h4>
    <p id="p1">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. consectetur adipisicing elit. Omnis, repellendus. consectetur adipisicing elit. Quam assumenda saepe quia ea nisi earum beatae fuga ad doloremque quasi!</p>
<ul>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum, amet consectetur adipisicing elit.</li>
    <li>Lorem ipsum, amet consectetur adipisicing elit. Lorem, ipsum dolor.</li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, id.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga error ab modi, quod earum enim tempora atque a assumenda quaerat quae illo hic quos harum fugiat, dolore eos magni cum! Debitis non officia consequatur asperiores dolore consequuntur, possimus expedita quibusdam ex sit illo accusantium vel aliquid eaque hic deleniti quasi cupiditate quae molestias reiciendis, dolorum assumenda odio alias animi? Facere fuga Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex expedita adipisci pariatur. Blanditiis, officia possimus. quo alias maiores impedit voluptas soluta praesentium unde?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis et quod nemo fugiat expedita dolores tenetur nobis natus, nisi voluptatibus odio hic? Consequuntur ipsa quia eveniet consectetur similique provident impedit perspiciatis beatae vitae, praesentium error eaque illo quod ea explicabo! Deserunt, doloremque nihil magnam laboriosam neque dignissimos sit libero blanditiis!</p>
</div>